4uFng2Xlo8irWnOp-CALENDAR_ASSISTENT.json
{
  "name": "CALENDAR ASSISTENT",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1720,
        240
      ],
      "id": "200f7fcd-abbc-4f58-ba0f-f73f35877af6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HIcTxeCBvkfyZgZp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "19a2c35f-1161-4c78-b8c3-db25b9a87bbc",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1b1b9f43-f9ab-413c-82e6-50b5ec828021",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -260
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sedos.sedyakina21@gmail.com",
          "mode": "list",
          "cachedResultName": "sedos.sedyakina21@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1260,
        240
      ],
      "id": "d918c9e2-1bd0-4a03-947c-a3372e58d864",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2GBDgNMZ37UNi3du",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sedos.sedyakina21@gmail.com",
          "mode": "list",
          "cachedResultName": "sedos.sedyakina21@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1380,
        260
      ],
      "id": "360114c0-33f8-4a9f-96ba-6d9e83ccd38d",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2GBDgNMZ37UNi3du",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sedos.sedyakina21@gmail.com",
          "mode": "list",
          "cachedResultName": "sedos.sedyakina21@gmail.com"
        },
        "start": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "end": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "useDefaultReminders": false,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1540,
        260
      ],
      "id": "e904f01b-55ff-4cad-ba58-602b51ba89a1",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PskjxYRmeyS4Iz0W",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sedos.sedyakina21@gmail.com",
          "mode": "list",
          "cachedResultName": "sedos.sedyakina21@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1000,
        240
      ],
      "id": "ae0c46d6-6a90-44e2-981b-1319b13c3582",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2GBDgNMZ37UNi3du",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "sedos.sedyakina21@gmail.com",
          "mode": "list",
          "cachedResultName": "sedos.sedyakina21@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1120,
        240
      ],
      "id": "097765e7-ae58-46fd-8c05-512dab7f719f",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2GBDgNMZ37UNi3du",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1860,
        -140
      ],
      "id": "4d3571cb-2f8f-424d-a54a-a2fade9a82f2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "id": "ea62f285-5fc9-41eb-a6c4-b9e2f1fa7ca0",
      "name": "Calendar agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1540,
        -160
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}